.App{
  background: #c5e8f0;
  text-align: center;
  border: 1px solid black;
  width: 66.66%;
  margin-left: 17%;
}
.header {
  text-align: center;
  display: flex ;
  border: 1px solid black;
  width: 100%;
}
.Gifarea{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  border: 1px solid blue;
  box-shadow: 2px;
}

input{
  border: 1px solid lightblue;
  width: 80%;
  height: 50px;
  font-size: 35px;
  padding:5px;
  color: #c5e8f0;
}
button{
  font-size: 35px;
  color:  #c5e8f0;
  background-color: white;
  height: 60px;
  padding: 5px;
  margin-top: 1px;
  width: 130px;
}
